@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #212529;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
